footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color_background_footer;
   
    & *
    {
        margin-left: 5px;
    }
    & .font_shrikhand
    {
        color: $color_text_footer;
        font-size: 1.3rem;
        margin-left: 15px;
    }
    & ul > li
    {
        color: $color_text_footer;
        line-height: 1.8rem;
        & i
        {
            margin-right: 10px;
            width: 20px;
        }
    }
    .li .contact{
        color: white;
    }
}