.localisation
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $color_search_bar;
    border-top: 2px solid rgb(219, 219, 219);
    margin-top: 10px;
    & .__search
    {
        
        height: auto;
        & .place-icon
        {
            padding-right: 10px;
        }
        & .search_bar
        {
            background-color: $color_search_bar;
            border: none;
            font-size: 0.9rem;
            width: 105px;
        }
    }
}