$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color_tertiary:#99E2D0;
$color_background:#F4F4F4;
$color_title:rgb(0, 0, 0);
$color_text:rgb(0,0,0);
$color_search_bar:#E8E8E8;
$color_text_btn:rgb(255, 255, 255);
$color_btn:linear-gradient(to bottom right,$color_secondary, $color_primary);
$color_restaurants_and_menus:rgb(255,255,255);
$color_text_new: #3D8D7A;
$color_heart_animation:linear-gradient(to right top,$color_secondary, #e86edb, #cf64dc, #b35cdc, $color_primary);
$color_text_footer:rgb(255,255,255);
$color_background_footer:#3A3A3A;
$font_main:'Shrikhand';
$font_text:'Roboto';
$mobile_first:'screen and (max-width:375px)';
$tablet:'screen and (min-width:800px)';
$desktop:'screen and (min-width:1200px)';
